@font-face {
  font-family: 'FinaGO';
  src: url(./fonts/FiraGO-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'FinaGO';
  src: url(./fonts/FiraGO-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Gugesha';
  src: url(./fonts/Gugesha.ttf);
  font-weight: 400;
}
